<% if @user.errors.any? %>
    <ul>
        <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>
<%= form_with model: @user do |f| %>
    <%= f.label :username, "Your username" %>
    <%= f.text_field :username%>

    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "email@email.com" %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit %>
<% end %>
